<nav class="navbar-default navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Movie Mule</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a
            id="upcoming"
            (click)="onClick($event)">Upcoming</a>
        </li>
        <li>
          <a
            id="top_rated"
            (click)="onClick($event)">Top Rated</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
